.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Letter
{
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin: 10px;
  padding: 0px;
  text-align: center;
  width: 50px;
}
.Letter-almost
{
  background: rgb(238, 213, 70);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin: 10px;
  padding: 0px;
  text-align: center;
  width: 50px;
}
.Letter-correct
{
  background: rgb(0,255,0);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin: 10px;
  padding: 0px;
  text-align: center;
  width: 50px;
}

.wordBox
{
  clear:both;
  text-align: center;
  align-items: center;
  justify-content: center;
}
*
{
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
}

textarea{
  resize: none;
}
